.choice {
    display: none;
}

.btn-primary {
    margin: 10px auto;
}

.btn-secondary:hover {
    background-color: pink;
    border-color: pink;
    color: white;    
}

.btn-secondary {
    color: black;
    background-color: white;
    border-color: white;
}